<!DOCTYPE html>
<html>
  
  <head>
    <title>Trigon</title>
		<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="./images/trigon_favicon.png">
  </head>
  
  <body>
    <div class="wrap_the_wrapper" style="height: 600px;">
      <div class="wrapper">
        <header>
          <h1>Welcome to <div id="logo">Trigon</div></h1>
          <hr>
          <h3>Where would you like to go?</h3>
        </header>
        <form method="post" action="/country">
          <select name="counries">
            <option>Select a country</option>
            <option name="country" value="usa">USA</option>
            <option name="country" value="france">France</option>
          </select>
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
  
</html>