<link rel="stylesheet" type="text/css" href="css/style.css">
<h1> USA Quiz </h1>

<form method="post" action="/quiz_us">
  <p> What kind of food are you? </p>
  <input type="radio" name="food" value="cheesecake"> Cheesecake
  <input type="radio" name="food" value="lettuce"> A Piece of Lettuce
  <input type="radio" name="food" value="tacos"> Tacos
  <input type="radio" name="food" value="fries"> McDonald's Fries
  
  <p> How much do you like water? </p>
  <input type="radio" name="water" value="cat"> Cats
  <input type="radio" name="water" value="nemo"> Nemo
  
  <p> Which celebrity are you? </p>
  <input type="radio" name="celebrity" value="beyonce"> Beyonce
  <input type="radio" name="celebrity" value="Kanye"> Kanye West
  <input type="radio" name="celebrity" value="watson"> Emma Watson
  <input type="radio" name="celebrity" value="cucumber"> Benedict Cumberbatch
  
  <p> What type of environment do you like? </p>
  <input type="radio" name="environment" value="busy"> Social, Big Crowds
  <input type="radio" name="environment" value="quiet"> Quiet, Peaceful Sereneness
  
  <p> Do you have a lover? </p>
  <input type="radio" name="lover" value="yes"> Yes
  <input type="radio" name="lover" value="nah"> Nah
  
  <p> What airport fashion are you? </p>
  <input type="radio" name="fashion" value="comfort"> Comfortable 
    <img src="http://media2.popsugar-assets.com/files/2014/11/10/744/n/1922564/8700a833a684db45_457354946GLhwQW.xxxlarge/i/Gwyneth-Paltrow-made-case-cool-casual-cozy-gray.jpg">
  <input type="radio" name="fashion" value="decent"> Decent
    <img src="http://media2.popsugar-assets.com/files/2014/01/03/797/n/1922564/a89d77787737c183_FFN_Theron_Charlize_BJJ_080513_51172825.jpg.xxxlarge/i/Preppy-girls-whose-closets-stocked-classics-love.jpg">
  <input type="radio" name="fashion" value="fab"> Fabulous 
    <img src="http://i.perezhilton.com/wp-content/uploads/2015/05/rihanna-heathrow-airport-jeans__oPt.jpg">
  <input type="radio" name="fashion" value="soph"> Sophisticated
    <img src="http://media4.popsugar-assets.com/files/2014/01/22/701/n/1922564/458b3bc32a96b1c0_464282999.jpg.xxxlarge/i/We-can-only-imagine-what-destination-Kate-Bosworth-jetting-off.jpg">
  
  <p> On a scale of 1-Elsa, how cool are you? </p>
  <input type="radio" name="coolness" value="1"> 1
  <input type="radio" name="coolness" value="2"> 2
  <input type="radio" name="coolness" value="3"> 3
  <input type="radio" name="coolness" value="4"> 4
  <input type="radio" name="coolness" value="5"> 5
  <input type="radio" name="coolness" value="elsa"> Elsa
  
  <p> Which one do you prefer? </p>
  <input type="radio" name="preference" value="warm"> Sunglasses and Swimwear
  <input type="radio" name="preference" value="cool"> Sweater and Light Jacket
   <input type="submit">
</form>
