<h1> USA Quiz </h1>

<form method="post" action="/quiz_us">
  <p> What kind of food are you? </p>
  <input type="radio" name="food" value="cheesecake"> Cheesecake
  <input type="radio" name="food" value="lettuce"> A Piece of Lettuce
  <input type="radio" name="food" value="tacos"> Tacos
  <input type="radio" name="food" value="fries"> McDonald's Fries
  
  <p> Which celebrity are you? </p>
  <input type="radio" name="celebrity" value="beyonce"> Beyonce
  <input type="radio" name="celebrity" value="Kanye"> Kanye West
  <input type="radio" name="celebrity" value="watson"> Emma Watson
  <input type="radio" name="celebrity" value="cucumber"> Benedict Cumberbatch
  
  <p> What type of environment do you like? </p>
  <input type="radio" name="environment" value="busy"> Social, Big Crowds
  <input type="radio" name="environment" value="quiet"> Quiet, Peaceful Sereneness
  
  <p> Do you have a lover? </p>
  <input type="radio" name="lover" value="yes"> Yes
  <input type="radio" name="lover" value="nah"> Nah
  
  <p> What airport fashion are you? </p>
  <input type="radio" name="fashion" value="comfort"> Comfortable 
  <input type="radio" name="fashion" value="decent"> Decent
  <input type="radio" name="fashion" value="fab"> Fabulous 
  <input type="radio" name="fashion" value="soph"> Sophisticated
  
  <p> On a scale of 1-Elsa, how cool are you? </p>
  <input type="radio" name="coolness" value="1"> 1
  <input type="radio" name="coolness" value="2"> 2
  <input type="radio" name="coolness" value="3"> 3
  <input type="radio" name="coolness" value="4"> 4
  <input type="radio" name="coolness" value="5"> 5
  <input type="radio" name="coolness" value="elsa"> Elsa
</form>
