<h1> USA Quiz </h1>

<form method="post" action="/quiz_france">
  <p> What kind of food are you? </p>
  <input type="radio" name="food" value="crepe"> Crepe
  <input type="radio" name="food" value="escargot"> A Snail
  <input type="radio" name="food" value="quiche"> Quiche
  <input type="radio" name="food" value="bread"> Baguette
  
  <p> Which celebrity are you? </p>
  <input type="radio" name="celebrity" value="jolie"> Angeline Jolie
  <input type="radio" name="celebrity" value="robert"> Robert de Niro
  <input type="radio" name="celebrity" value="clinton"> Hilary Clinton
  <input type="radio" name="celebrity" value="depp"> Johnny Depp
  
  <p> What type of environment do you like? </p>
  <input type="radio" name="environment" value="busy"> Social, Big Crowds
  <input type="radio" name="environment" value="quiet"> Quiet, Peaceful Sereneness
  
  <p> Do you have a lover? </p>
  <input type="radio" name="lover" value="yes"> Yes
  <input type="radio" name="lover" value="nah"> Nah
  
  <p> What airport fashion are you? </p>
  <input type="radio" name="fashion" value="comfort"> Comfortable 
  <input type="radio" name="fashion" value="decent"> Decent
  <input type="radio" name="fashion" value="fab"> Fabulous 
  <input type="radio" name="fashion" value="soph"> Sophisticated
  
  <p> On a scale of 1-Elsa, how cool are you? </p>
  <input type="radio" name="coolness" value="1"> 1
  <input type="radio" name="coolness" value="2"> 2
  <input type="radio" name="coolness" value="3"> 3
  <input type="radio" name="coolness" value="4"> 4
  <input type="radio" name="coolness" value="5"> 5
  <input type="radio" name="coolness" value="elsa"> Elsa
</form>