<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" href="./images/trigon_favicon.png">
<link rel="stylesheet" type="text/css" href="css/quiz_south_africa.css">

<header>
  <div id="logo"><a href="/"><h1>Trigon</h1></a></div>
</header>

<body>
  <h3>South Africa Quiz</h3>
  
  <p>Listen while you take the quiz:</p>
  <audio controls>
    <source src="/images/south_africa.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <hr>
  <form method="post" action="/quiz_south_africa">
    <div class="quiz">
      <p> What kind of food are you? </p>
      <input type="radio" name="food" value="cheesecake"> Chakalaka
      <input type="radio" name="food" value="lettuce"> Vetkoek
      <input type="radio" name="food" value="tacos"> Biltong
      <input type="radio" name="food" value="fries"> Boerewors
      <hr>
      <p> How much do you like water? </p>
      <input type="radio" name="water" value="cat"> Cats
      <input type="radio" name="water" value="nemo"> Nemo
      <hr>
      <p> Which celebrity are you? </p>
      <input type="radio" name="celebrity" value="beyonce"> Lupita Nyong'o
      <input type="radio" name="celebrity" value="Kanye"> Charlize Theron
      <input type="radio" name="celebrity" value="watson"> Nelson Mandela
      <input type="radio" name="celebrity" value="cucumber"> Sasha Pieterse
      <hr>
      <p> What type of environment do you like? </p>
      <input type="radio" name="environment" value="busy"> Social, Big Crowds
      <input type="radio" name="environment" value="quiet"> Quiet, Peaceful Sereneness
      <hr>
      <p> Do you have a lover? </p>
      <input type="radio" name="lover" value="yes"> Yes
      <input type="radio" name="lover" value="nah"> Nah
      <hr>
      <p> What airport fashion are you? </p>
      <img src="http://media2.popsugar-assets.com/files/2014/11/10/744/n/1922564/8700a833a684db45_457354946GLhwQW.xxxlarge/i/Gwyneth-Paltrow-made-case-cool-casual-cozy-gray.jpg">
      <img src="http://media2.popsugar-assets.com/files/2014/01/03/797/n/1922564/a89d77787737c183_FFN_Theron_Charlize_BJJ_080513_51172825.jpg.xxxlarge/i/Preppy-girls-whose-closets-stocked-classics-love.jpg">
      <img src="http://i.perezhilton.com/wp-content/uploads/2015/05/rihanna-heathrow-airport-jeans__oPt.jpg">
      <img src="http://media4.popsugar-assets.com/files/2014/01/22/701/n/1922564/458b3bc32a96b1c0_464282999.jpg.xxxlarge/i/We-can-only-imagine-what-destination-Kate-Bosworth-jetting-off.jpg">
      <br>
      <input type="radio" name="fashion" value="comfort"> Comfortable 
      <input type="radio" name="fashion" value="decent"> Decent
            <input type="radio" name="fashion" value="fab"> Fabulous 
      <input type="radio" name="fashion" value="soph"> Sophisticated
      <hr>
      <p> On a scale of 1-Elsa, how cool are you? </p>
      <input type="radio" name="coolness" value="1"> 1
      <input type="radio" name="coolness" value="2"> 2
      <input type="radio" name="coolness" value="3"> 3
      <input type="radio" name="coolness" value="4"> 4
      <input type="radio" name="coolness" value="5"> 5
      <input type="radio" name="coolness" value="elsa"> Elsa
      <hr>
      <p> Which one do you prefer? </p>
      <input type="radio" name="preference" value="warm"> Sunglasses and Swimwear
      <input type="radio" name="preference" value="cool"> Sweater and Light Jacket
      <hr>
      <p> All done? Hit Submit </p>
      <input type="submit">
      <br>
      <br>
    </div>
  </form>
</body>